*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(57, 5, 5);
    width: 100vw;
    height: 100vh;
}
header{
    margin: 0px
}
.navbar{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    margin-top: 20px;
}
.navbar .logo{
    width: 50%;
    margin: 15px 30px;
    font-size: x-large;
}
.navbar .navitems{
    width: 50%;
}
.navbar .navitems ul{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: large;
    
}
.navbar .navitems ul li a{
    /* margin: 15px 40px; */
    text-decoration: none;
    color: white;
}
.navbar .navitems ul li a:hover{
    color: orange;
    transition: 1.5s;
}

/* main content starts fro here*/
.main{
    width: 100%;
    margin: 0px 30px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}
.data{
    margin: 0px;
    padding: 0px;
    width: 60%;
}
.data h3{
    color: orange;
    font-size: 40px;
    margin: 20px 0px;
}
.data h1{
    color: white;
    font-size: 48px;
    margin: 20px 0px;
}
.data p{
    color: white;
    font-size: medium;
    word-spacing: 3px;
    margin: 20px 0px;
}
.btn{
    display: flex;
}
.btn .button1 a button{
    background-color: orange;
    color: white;
    padding: 10px 40px;
    margin-right: 10px;
    border: none;
    border-radius: 30px;    
}
.btn .button2 a button{
    color: white;
    padding: 10px 40px;
    margin-right: 10px;
    border:1px solid white;
    border-radius: 30px;
    background-color: rgb(57, 5, 5);   
}
.image{
    width: 40%;
    /* margin-left: 30px; */
    margin-right: 30px;
}
.image img{
    width: 80%
}